@model ForumForGeeksForLess.Models.ForumWebModel.viewTopicWEBModel
@{
    ViewBag.Title = Model.Name;
}


<div class="row">
    <div class="col-md-8 col-sm-8 col-xs-8">
        <h3 class="text-truncated">@Model.Name.</h3>
    </div>
    @if (Request.IsAuthenticated)
    {
    <div class="col-md-4 col-sm-4 col-xs-4 text-right">
        <br>
        @Html.ActionLink("Ответить", "Create", "viewTopic", new { id = Model.Id }, new { @class = "btn btn-primary" })
    </div>
    }
    <br>
</div>

<div class="row">
    @foreach (var el in Model.SubsectionForum)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    @el.caption
                </div>
            </div>
            <div class="panel-body thread-row">
                <div class="row thread-row">
                    <div class="col-md-2 col-xs-3 text-center userblock">
                        <img class="img-thumbnail" src="~/Content/@Html.DisplayFor(model =>model.ImagePath)" alt="Avatar">
                        <div class="label label-default">@el.idIdent</div>
                    </div>
                    <div class="col-md-5 col-sm-6 col-xs-9">
                        <br>
                        <div class="text-muted"><i class="glyphicon glyphicon-calendar"></i><small> @el.date</small></div>
                        <div class="content_body"><p>@el.text</p></div>
                    </div>
                </div>
                @if (Request.IsAuthenticated && User.Identity.Name==el.idIdent)
                {
                <div class="col-md-12 col-sm-12 col-xs-12 text-right">
                    <br>
                    @Html.ActionLink("Правка", "Edit", "viewTopic", new { id = el.Id }, new { @class = "btn btn-default" })
                </div>
                }

            </div>
            <br>
        </div>
    }
</div>
