@model ForumForGeeksForLess.Models.ForumWebModel.IndexWebModel

@{
    ViewBag.Title = "ForumForGeeksForLess";
}

@foreach (var el in Model.SectionAndsubsectionForum)
{
    <br>
    <div class="panel-group">
        <div class="panel panel-default">
            <a class="panel-default" data-toggle="collapse" href="#@el.GetHashCode()" aria-expanded="true">
                <div class="panel-heading">
                    <i class="glyphicon glyphicon-folder-open"></i> <strong>@el.Key</strong> <span class="pull-right"><i class="glyphicon glyphicon-resize-full"></i></span>
                </div>
            </a>
            <div id="@el.GetHashCode()" class="panel-collapse collapse in" aria-expanded="true">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="text-center"> @Html.DisplayNameFor(modelItem => el.Value.FirstOrDefault().CountTopics)</th>
                            <th class="text-center"> @Html.DisplayNameFor(modelItem => el.Value.FirstOrDefault().CountReplies)</th>
                            <th class="hidden-xs">@Html.DisplayNameFor(modelItem => el.Value.FirstOrDefault().LastMessage)</th>
                        </tr>
                    </thead>
                    @foreach (var sub in el.Value)
                    {
                        <tbody>
                            <tr>
                                <td class="col-md-6 col-sm-6">
                                    <div><strong> @Html.ActionLink(@sub.Name, "Index", "viewforum", new { id = @sub.Id }, new { title = @sub.Name })</strong></div>
                                    <div class="hidden-xs"><em>@sub.Notes</em></div>
                                </td>
                                <td class="text-center"><span class="badge">@sub.CountTopics</span></td>
                                <td class="text-center"><span class="badge">@sub.CountReplies</span></td>
                                <td class="col-md-4 col-sm-4 hidden-xs">
                                    <div>
                                        <a href="/viewTopic/Index/@sub.LastMessage.lastId"> @sub.LastMessage.lastCaption. </a><br>
                                        <i class="glyphicon glyphicon-time"></i> @sub.LastMessage.Lastdate<br>
                                        <i class="glyphicon glyphicon-user"></i> @sub.LastMessage.lastAutor
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    }
                </table>
            </div>
        </div>
    </div>
}

<br>
<div class="panel-group">
    <div class="panel panel-default">
        <a class="panel-default" data-toggle="collapse" data-parent="#accordion" href="#visitor_stats">
            <div class="panel-heading">
                <i class="glyphicon glyphicon-stats"></i> Статистика посетителей <span class="pull-right"><i class="glyphicon glyphicon-resize-full"></i></span>
            </div>
        </a>
        <div id="visitor_stats" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <p><i class="glyphicon glyphicon-globe"></i> Рекорд пребывания за день: @Model.VisitMax.Count, это было  @Html.DisplayFor(Model => Model.VisitMax.Date)</p>
                        <div class="hidden-xs">
                            <em>
                                @foreach (var el in Model.VisitMax.listVisitName)
                                {<span>@el, </span>}
                        </em>
                    </div>
                    <hr>
                    <p><i class="glyphicon glyphicon-dashboard"></i> Всего посетителей за сегодня : @Model.VisitToday.Count</p>
                    <div class="hidden-xs">
                        <em>
                            @foreach (var el in Model.VisitToday.listVisitName)
                            {<span>@el, </span>}
                        </em>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


